@charset "UTF-8";

/*
#9E8576 - Marrom bosta
#AFD0D6 - Azul clarin
#A5D8FF - Azul Claro
#36393B - Pretin
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: black;
}