@charset "UTF-8";

:root {
    /* --title-font: 'Poppins', sans-serif;
    --content-font: 'Roboto', sans-serif; */
    --text-color: rgba(0, 0, 0, 0.8);

    --black-color: #000;
    --white-color: #fff;
    --brown-color: #9E8576;
    --dark-gray-color: #36393B;
    --light-blue-color: #A5D8FF;
    --light-can-color: #AFD0D6;

    --menu-bg-color: #1B1B1B;
    --main-bg-color: #1F1F1F;
    --main-bg-img: url('../img/main-bg.svg');
    --footer-bg-color: #1B1B1B;

    --title-font: 'Nunito', sans-serif;
    --content-font: 'Roboto', sans-serif;
}